:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  background-color: #ffffff; /* Light grey background for the page */
}

main {
  flex: 1; /* Allows content to grow */
  overflow-y: hidden;
}
