<div class="listings-container">
  

  <div class="search-header">
    <div class="location-info">
      <h3>{{ capitalizeFirstLetter(city) }} - {{ sector ? sector : 'All Sector' }}</h3>
      <p>
        Total {{ type ? type : 'Property' }} Search -
        {{ totalResults ?? filteredProperties.length }}
      </p>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search Area" />
    </div>
  </div>

  <div class="listings-grid">
   
    <app-property-card *ngFor="let property of paginatedProperties" [property]="property">
    </app-property-card>
  
    <!-- <app-property-card *ngFor="let prop of properties" [property]="prop"> </app-property-card> -->
  </div>

  <mat-paginator
    *ngIf="filteredProperties.length > pageSize"
    [length]="filteredProperties.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[12, 24, 48]"
    [pageIndex]="currentPage"
    (page)="onPageChange($event)"
    showFirstLastButtons
    aria-label="Select page">
  </mat-paginator>
</div>
